<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript">
    if ('WebSocket' in window) {
      (() => {
        var proto = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
        var ws = new WebSocket(`${proto}//${location.host}/livereload`);
        ws.onmessage = (msg) => {
          if (msg.data == "reload") {
            window.location.reload();
          }
        };
        ws.onclose = () => {
          setTimeout(() => {
            window.location.reload();
          }, 2000);
        };
      })();
    }
  </script>
</head>
<body>
  Template<br/>
  {{ page.content|safe }}
</body>
</html>