<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - {{ site.config.name }}</title>

    {% block site_meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script type="text/javascript">
      if ("WebSocket" in window) {
        (() => {
          var proto = window.location.protocol === "http:" ? "ws://" : "wss://";
          var ws = new WebSocket(`${proto}//${location.host}/livereload`);
          ws.onmessage = (msg) => {
            if (msg.data == "reload") {
              window.location.reload();
            }
          };
          ws.onclose = () => {
            setTimeout(() => {
              window.location.reload();
            }, 2000);
          };
        })();
      }
    </script>
  </head>
  <body>
    {% include "partials/header.html" %}

    <div
      class="container mx-auto py-16 prose max-w-prose prose-headings:font-bold prose-table:border-separate prose-table:border prose-table:overflow-hidden prose-table:border-black prose-table:rounded-lg prose-thead:bg-black prose-th:text-white prose-th:py-2 prose-th:px-4 prose-tr:border-y-0 even:prose-tr:bg-gray-100 prose-td:py-2 prose-td:px-4 prose-blockquote:border prose-blockquote:border-black prose-blockquote:p-8 prose-blockquote:text-xl prose-blockquote:rounded-lg prose-blockquote:leading-10 prose-p:text-black prose-p:leading-loose prose-lead:leading-relaxed marker:prose-li:text-black prose-li:text-black prose-li:font-medium prose-a:text-pink-600 prose-a:decoration-wavy prose-a:font-medium hover:prose-a:text-indigo-600 prose-img:border prose-img:border-black prose-img:p-4 prose-img:rounded-lg prose-img:bg-pink-100 prose-pre:bg-black prose-pre:text-white prose-pre:text-base prose-pre:leading-loose"
    >
      {{ page.html|safe }}
    </div>

    {% include "partials/footer.html" %}
  </body>
</html>
