<!DOCTYPE html>
<html lang="{{ site.config.lang }}">
  <head>
    <title>{{ page.title }} - {{ site.config.name }}</title>
    {% block site_meta %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="{{ site.config.description }}"/>
      <meta name="keywords" content="{{ site.config.description }}"/>
    {% endblock %}
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    {% include "partial/livereload.html" %}
  </head>
  <body>
    {% include "partial/header.html" %}
    {% block content %}<div class="container mx-auto py-16 max-w-prose prose">{{ page.html|safe }}</div>{% endblock %}
    {% include "partial/footer.html" %}
  </body>
</html>
